
<!DOCTYPE html>
{% load static %}
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Question Quest</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'blog/css/bootstrap.min.css' %}">
        <link href="{% static 'blog/css/icofont.min.css' %}" rel="stylesheet">
        <link href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css" rel="stylesheet">
        <link href="{% static 'blog/css/animate.min.css' %}" rel="stylesheet">
        <link href="{% static 'blog/css/venobox.css' %}" rel="stylesheet">
        <link href="{% static 'blog/css/owl.carousel.min.css' %}" rel="stylesheet">
        <link href="{% static 'blog/css/aos.css' %}" rel="stylesheet">
      
        <!-- Template Main CSS File -->
        <link href="{% static 'blog/css/style.css' %}" rel="stylesheet">
        <link href="{% static 'blog/css/custom-style.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous">
        <style>
            .top-bar {
          padding: 5px 0px;
          background: #333;
      }
        </style>
    </head>
    <body>
        <img src="{% static 'blog/images/construction.jpg' %}" class="img-fluid" alt="...">
        
        
        <script src="" async defer></script>
    </body>
</html>