<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Question Quest</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <!-- <link href="" rel="icon">
  <link href="" rel="apple-touch-icon"> -->

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i,900" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'blog/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'blog/css/icofont.min.css' %}" rel="stylesheet">
  <link href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css" rel="stylesheet">
  <link href="{% static 'blog/css/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'blog/css/venobox.css' %}" rel="stylesheet">
  <link href="{% static 'blog/css/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'blog/css/aos.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'blog/css/style.css' %}" rel="stylesheet">
  <link href="{% static 'blog/css/custom-style.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous">
  <style>
      .top-bar {
    padding: 5px 0px;
    background: #333;
}
  </style>
</head>

<body>

  
    <div class="top-bar">
<div class="container">
<div class="row">
<div class="col-12">
<a href="#" class=""><i class="mr-2 fas fa-envelope" style="color: #fff"></i> <span class="d-none d-md-inline-block text-white">business@questionquest.com</span></a>
<span class="mx-md-2 d-inline-block"></span>
<a href="#" class=""><i class="mr-2 fas fa-phone-alt" style="color: #fff"></i> <span class="d-none d-md-inline-block text-white">+91 7982622067</span></a>
<div class="float-right">
<a href="#" class=""><i class="mr-2 fab fa-twitter" style="color: #fff"></i> <span class="d-none d-md-inline-block text-white">Twitter</span></a>
<span class="mx-md-2 d-inline-block"></span>
<a href="#" class=""><i class="mr-2 fab fa-facebook" style="color: #fff"></i> <span class="d-none d-md-inline-block text-white">Facebook</span></a>
</div>
</div>
</div>
</div>
</div>
  <!-- ======= Header ======= -->
  <header id="header">
    <div class="container">

      <div class="logo float-left">
        <!-- Uncomment below if you prefer to use an image logo -->
         <a href="/" style="overflow: hidden;display: inline-block;" class="top-heading">Question Quest</a>
      </div>

      <nav class="nav-menu float-right d-none d-lg-block">
        <ul>
          <li class="active"><a href="/">Home</a></li>
          {% if request.user.is_authenticated %}
          
          <li class="active"><a href="{% url 'dashboard' %}">Dashboard</a></li>
          {% else %}
          <li class="active"><a href="{% url 'login'%}">Login</a></li>
          {% endif %}

          <li class=""><a href="/about">About Us</a></li>
          <li class=""><a href="/services">Services</a></li>
          <li class=""><a href="/contact">Contact Us</a></li>
        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

  
  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
      <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">

        <div class="carousel-inner" role="listbox">

          <!-- Slide 1 -->
          <div class="carousel-item active" style="background-image: url({% static 'blog/images/survey.jpg' %})">
            <div class="carousel-container">
              <div class="carousel-content container">
                <h2 class="animate__animated animate__fadeInDown">Better Data, Better decision, Better  <span>Strategy</span></h2>
                <p class="animate__animated animate__fadeInUp">With Transparency, Collabration And Flexibility,we Help you Shine.</p>
                <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row no-gutters">
          
          <div class="col-lg-12 d-flex flex-column justify-content-center about-content">

            <div class="section-title">
              <h2>Welcome to Question Quest</h2>
              <p>Question Quest is experienced in conducting B2B market research in many industries. Question Quest brings your online B2B research, the preferred choice for high quality, reliable business-to- business online sample with access to respondents in various countries.</p>
              <p>We are able to achieve high volume of responses from senior and typically difficult to reach participant, including department heads and C-level executives, small business owners and professionals in IT, HR, Finance, Sales, retail as well as tradespeople including plumbers, painters and electricians.</p>
            </div>

          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row no-gutters">

          <div class="col-lg-12 d-flex flex-column justify-content-center about-content">

            <div class="section-title">
              <h2>Company profile</h2>
              <p>We are a globle online survey sampling company with global panels around the world, making it easier for researchers to get highly responsive respondents quickly anytime, anywhere!</p>
              <p>Question Quest believes in providing full transparency and accountability. We ensure to deliver high quality data through our panel and survey management tool. We, carefully and with the help of technology, profile our respondents in depth. This makes the respondent more informative and valueable to the world of market research.</p>
              <p>We understand the importance of each survey and our team works flawlessly to ensure that each project is delivered as committed by us. We care about your business and know that with each successful delivery.</p>
              <p>We take pride in deploying technology to the best use possible, and keep ourselves educated with all technical and industry updates and enhancements. We want to provide the best possible experience to our panelists, and reward them more than just for that particular survey.</p>
              <p>Question Quest operate 24/7, meaning that we can connect with hard-to-reach individual regardless of their time zone or shift pattern. </p>
            </div>

          </div>
        </div>

      </div>
    </section>
    <!-- End About Us Section -->
   
    <!-- ======= Quality Suites ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title">
          <h2>Quality Suites</h2>
          <p>As data quality becomes an increasing consideration for companies investing in market research, it’s important to verify respondent authenticity. Question Quest Quality Suites is a comprehensive validation approach to ensure the quality of studies.</p>
        </div>

        <div class="row  custom-list">
          <div class="col-lg-3 col-md-6 icon-box text" data-aos="fade-up">
           
            <h4 class="title"><a href="">IP Verification</a></h4>
            <ul class="text-left">
            	<li>IP Address of new panelist validates location, in order to ensure they are within the market region.</li>
            	<li>Checked against a Known list of fraudulent servers to ID fraud at the time of recruitment </li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
            
            <h4 class="title"><a href="">Duplication Prevention</a></h4>
            <ul class="text-left">
            	<li>It’s also important to prevent the same “person” from completing the same survey more than once, either because they are coming from multiple panels being used on a project or exist multiple times within the same panel.</li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
            <h4 class="title"><a href="">Loyalty Detector</a></h4>
            <ul class="text-left">
            	<li>Fraud respondents blocked from entering surveys.</li>
            	<li>Proven effective regardless of sources market or audience type.</li>
            	<li>Offered standard on all consumer work over 10% IR </li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
            <h4 class="title"><a href="">Unique Survey Responders</a></h4>
            <ul class="text-left">
            	<li>Eliminates duplicates at the start of a study.</li>
            	<li>Ensure unique respondents are completing a study by employing proprietary and industry standard digital finger printing technology.</li>
            </ul>
          </div>
        </div>

      </div>
    </section><!-- End Quality Suites -->

      </div>
    </section><!-- End What We Offer -->

    <!-- ======= What We Offer ======= -->
    <section class="about" id="about">
      <div class="container">
      	
      	<div class="section-title">
      	<h2>WHAT WE OFFER</h2>
      </div>
      	
        <div class="row no-gutters">

          <div class="col-lg-4 col-md-6 content-item" data-aos="fade-up">
            <ul>
            	<li>Quanitative Research</li>
				<li>Qualitative Research</li>
				<li>Startegic consulting</li>
				<li>Online Surveys</li>
				<li>Ethnographies</li>
				<li>Electoral polling</li>
				<li>Nationwide Recruiting</li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 content-item" data-aos="fade-up" data-aos-delay="100">
            <ul>
            	<li>Public Opinion</li>
				<li>Medical Recruiting</li>
				<li>Data Collection</li>
				<li>Positioning research</li>
				<li>Telephone Polling/Surveys</li>
				<li>Brand research</li>
				<li>Web surveys</li>

            </ul>
          </div>

          <div class="col-lg-4 col-md-6 content-item" data-aos="fade-up" data-aos-delay="200">
            <ul>
            	<li>IDI (In Depth Interview)</li>
            	<li>Voter research</li>
            	<li>Media Research</li>
            	<li>Taste Testing</li>
            	<li>Positioning research</li>
            	<li>Executive research</li>
            </ul>
          </div>

        </div>

      </div>
    </section><!-- End What We Offer -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Question Quest</span></strong>. All Rights Reserved
      </div>
      <div class="text-center"><b>THE WAY YOU THINK WE CAN</b></div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'blog/js/jquery.min.js' %}"></script>
  <script src="{% static 'blog/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'blog/js/jquery.easing.min.js' %}"></script>
  <script src="{% static 'blog/js/validate.js' %}"></script>
  <script src="{% static 'blog/js/jquery.sticky.js'%}"></script>
  <script src="{% static 'blog/js/venobox.min.js' %}"></script>
  <script src="{% static 'blog/js/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'blog/js/counterup.min.js' %}"></script>
  <script src="{% static 'blog/js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'blog/js/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'blog/js/aos.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'blog/js/main.js' %}"></script>

</body>

</html>