<!DOCTYPE html>
{% load static %}

<html lang="en"><head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900&amp;display=swap" rel="stylesheet">

    <title>Question Quist</title>

   
    <link rel="stylesheet" type="text/css" href="http://nexageo.com/public/assets/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/font-awesome.css'%}">

    <link rel="stylesheet" href="http://nexageo.com/public/assets/css/templatemo-breezed.css">

    <link rel="stylesheet" href="http://nexageo.com/public/assets/css/owl-carousel.css">

    <link rel="stylesheet" href="http://nexageo.com/public/assets/css/lightbox.css">

</head>

<body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader" style="visibility: hidden; display: none; opacity: 0;">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->


    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="index.html" class="logo">
                            Question Quist
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                            <li class="scroll-to-section"><a href="#" class="">LOGIN</a></li>
                            <li class="scroll-to-section"><a href="#about" class="">About</a></li>
                            <li class="scroll-to-section"><a href="#projects" class="">Services</a></li>
                            

                        </ul>
                        <a class="menu-trigger">
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Search Area ***** -->
    <div id="search">
        <button type="button" class="close">×</button>
        <form id="contact" action="#" method="get">
            <fieldset>
                <input type="search" name="q" placeholder="SEARCH KEYWORD(s)" aria-label="Search through site content">
            </fieldset>
            <fieldset>
                <button type="submit" class="main-button">Search</button>
            </fieldset>
        </form>
    </div>

    <!-- ***** Main Banner Area Start ***** -->
    <div class="main-banner header-text" id="top">
        <div class="Modern-Slider slick-initialized slick-slider">
            <!-- Item -->
            <div aria-live="polite" class="slick-list"><div class="slick-track" role="listbox" style="opacity: 1; width: 1394px; transform: translate3d(0px, 0px, 0px);"><div class="item slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide00" style="width: 1394px;">
                <div class="img-fill">
                    <img src="{% static '/images/survey.jpg' %}" alt="not available" class="w-100">
                    <div class="image-text-content" style="
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        width: 100%;
                        height: 100%;
                        background: #000000b8;
                    ">
                        <div class="text-content">
                            <h3>Welcome To Question Quist</h3>
                            <h5>New way of Market Research</h5>
                            <a href="#testimonials" class="main-stroked-button" tabindex="0">Our Team</a>
                            <a href="#contact-us" class="main-filled-button" tabindex="0">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div></div></div>
            <!-- // Item -->
        </div>
    </div>
    <div class="scroll-down scroll-to-section"><a href="#about"><i class="fa fa-arrow-down"></i></a></div>
    <!-- ***** Main Banner Area End ***** -->

    <!-- ***** About Area Starts ***** -->
    <section class="section" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="left-text-content">
                        <div class="section-heading">
                            <h6>About Us</h6>
                            <h2>We work with top brands and startups</h2>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="service-item">
                                    <img src="{% static 'blog/images/service-item-01.png'%}" alt="">
                                    <h4>Top Notch</h4>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="service-item">
                                    <img src="{% static 'blog/images/service-item-01.png'%}" alt="">
                                    <h4>Robust</h4>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="service-item">
                                    <img src="{% static 'blog/images/world.png'%}" alt="">
                                    <h4>Reliable</h4>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="service-item">
                                    <img src="{% static 'blog/images/world.png'%}" alt="">
                                    <h4>Up-to-date</h4>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <a href="#" class="main-button-icon">
                                    Learn More <i class="fa fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="right-text-content">
                        <p>Question Quist is a powerful worldwide Market Intelligence organization giving
                            complete examination arrangements and key knowledge administrations for Asian Companies to
                            become Global Our ability and explicit specialist profiling has made us one of the main
                            organizations in online statistical surveying in Europe, Middle East and Asia pacific. We
                            are the quickest developing Companies. We represent considerable authority in market
                            demonstrating, valuing, request estimating, new item advancement, market division.
                            <br> <br>
                            Our vision for the Question Quist Insights Platform is to robotize the whole advertising
                            continuum, with abilities to reveal bits of knowledge; interface information; program and
                            field reviews; actuate, gauge and improve crusades; and break down, envision, distribute and
                            share those experiences.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** About Area Ends ***** -->

    <!-- ***** Features Big Item Start ***** -->
    <section class="section" id="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s" data-scroll-reveal-id="1" data-scroll-reveal-initialized="true" data-scroll-reveal-complete="true">
                    <div class="features-item">
                        <div class="features-icon">
                            <img src="{% static 'blog/images/features-icon-1.png'%}" alt="">
                        </div>
                        <div class="features-content">
                            <h4>Best Project Managers</h4>
                            <p>Having the best expert &amp; pilot project managers results in high efficiency.</p>
                            <a href="#" class="text-button-icon">
                                Learn More <i class="fa fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter bottom move 30px over 0.6s after 0.4s" data-scroll-reveal-id="2" data-scroll-reveal-initialized="true" data-scroll-reveal-complete="true">
                    <div class="features-item">
                        <div class="features-icon">
                            <img src="{% static 'blog/images/features-icon-1.png'%}" alt="">
                        </div>
                        <div class="features-content">
                            <h4>Quick setup &amp; launch</h4>
                            <p>We match the industry pace &amp; our 24*7 availablility makes us so quick &amp; reliable that you
                                can count on us!</p>
                            <a href="#" class="text-button-icon">
                                Learn More <i class="fa fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s" data-scroll-reveal-id="3" data-scroll-reveal-initialized="true" data-scroll-reveal-complete="true">
                    <div class="features-item">
                        <div class="features-icon">
                            <img src="{% static 'blog/images/features-icon-1.png'%}" alt="">
                        </div>
                        <div class="features-content">
                            <h4>No Project minimum</h4>
                            <p>We believe in making win-win deal hence dont charge any project minimum fee.</p>
                            <a href="#" class="text-button-icon">
                                Learn More <i class="fa fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Features Big Item End ***** -->

    <!-- ***** Features Big Item Start ***** -->
    <section class="section" id="subscribe">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="section-heading">
                        <h6>We are best</h6>
                        <h2>Don’t miss this chance!</h2>
                    </div>
                    <div class="subscribe-content">
                        <p>
                            Our vision for the Question Quick Insights Platform is to robotize the whole advertising continuum, with abilities to reveal bits of knowledge; interface information; program and field reviews; actuate, gauge and improve crusades; and break down, envision, distribute and share those experiences.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Features Big Item End ***** -->


    <!-- ***** Projects Area Starts ***** -->
    <section class="section" id="projects">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="section-heading">
                        <h6>Our Services</h6>
                        <h2>Some of our latest Services</h2>
                    </div>
                    <div class="filters">
                        <ul>
                            <li class="active" data-filter="*">All</li>
                            <li data-filter=".des">Business to Business</li>
                            <li data-filter=".dev">Healthcare Research</li>
                            <li data-filter=".gra">ITDMs</li>
                            <li data-filter=".tsh">Mothers-Infant studies</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="filters-content">
                        <div class="row grid" style="position: relative; height: 322.5px;">
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 all des" style="position: absolute; left: 0%; top: 0px;">
                                <div class="item">
                                    <a href="#" data-lightbox="image-1" data-title="Our Projects"><img src="http://nexageo.com/public/assets/images/project-big-item-01.jpg" alt=""></a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 all dev" style="position: absolute; left: 33.3333%; top: 0px;">
                                <div class="item">
                                    <a href="#" data-lightbox="image-1" data-title="Our Projects"><img src="http://nexageo.com/public/assets/images/project-big-item-02.jpg" alt=""></a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 all gra" style="position: absolute; left: 66.6667%; top: 0px;">
                                <div class="item">
                                    <a href="#" data-lightbox="image-1" data-title="Our Projects"><img src="http://nexageo.com/public/assets/images/project-big-item-03.jpg" alt=""></a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 all tsh" style="position: absolute; left: 0%; top: 161px;">
                                <div class="item">
                                    <a href="#" data-lightbox="image-1" data-title="Our Projects"><img src="http://nexageo.com/public/assets/images/project-big-item-04.jpg" alt=""></a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 all dev" style="position: absolute; left: 33.3333%; top: 161px;">
                                <div class="item">
                                    <a href="#" data-lightbox="image-1" data-title="Our Projects"><img src="http://nexageo.com/public/assets/images/project-big-item-05.jpg" alt=""></a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 all des" style="position: absolute; left: 66.6667%; top: 161px;">
                                <div class="item">
                                    <a href="#" data-lightbox="image-1" data-title="Our Projects"><img src="http://nexageo.com/public/assets/images/project-big-item-06.jpg" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Projects Area Ends ***** -->

    <!-- ***** Testimonials Starts ***** -->
    <section class="section" id="testimonials">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading">
                        <h6>Our Team</h6>
                        <h2>Young &amp; Talented Members</h2>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 mobile-bottom-fix-big" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s" data-scroll-reveal-id="4" data-scroll-reveal-initialized="true" data-scroll-reveal-complete="true">
                    <div class="owl-carousel owl-theme owl-loaded owl-drag">
                        
                        
                        
                        
                        

                        

                        

                    <div class="owl-stage-outer"><div class="owl-stage" style="width: 5400px; transform: translate3d(-1440px, 0px, 0px); transition: all 0s ease 0s;"><div class="owl-item cloned" style="width: 330px; margin-right: 30px;"><div class="item author-item">
                            <div class="member-thumb">
                                <img src="http://nexageo.com/public/assets/images/member-item-05.jpg" alt="">
                                <div class="hover-effect">
                                    <div class="hover-content">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                            <li><a href="#"><i class="fa fa-rss"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            
                        </div></div><div class="owl-item cloned" style="width: 330px; margin-right: 30px;"><div class="item author-item">
                            <div class="member-thumb">
                                <img src="http://nexageo.com/public/assets/images/member-item-03.jpg" alt="">
                                <div class="hover-effect">
                                    <div class="hover-content">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                            <li><a href="#"><i class="fa fa-rss"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            
                        </div></div><div class="owl-item cloned" style="width: 330px; margin-right: 30px;"><div class="item author-item">
                            <div class="member-thumb">
                                <img src="http://nexageo.com/public/assets/images/member-item-04.jpg" alt="">
                                <div class="hover-effect">
                                    <div class="hover-content">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                            <li><a href="#"><i class="fa fa-rss"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            
                        </div></div><div class="owl-item cloned" style="width: 330px; margin-right: 30px;"><div class="item author-item">
                            <div class="member-thumb">
                                <img src="http://nexageo.com/public/assets/images/member-item-06.jpg" alt="">
                                <div class="hover-effect">
                                    <div class="hover-content">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                            <li><a href="#"><i class="fa fa-rss"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            
                        </div></div><div class="owl-item active" style="width: 330px; margin-right: 30px;"><div class="item author-item">
                            <div class="member-thumb">
                                <img src="http://nexageo.com/public/assets/images/member-item-01.jpg" height="400px" alt="">
                                <div class="hover-effect">
                                    <div class="hover-content">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                            <li><a href="#"><i class="fa fa-rss"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            
                        </div></div><div class="owl-item active" style="width: 330px; margin-right: 30px;"><div class="item author-item">
                            <div class="member-thumb">
                                <img src="http://nexageo.com/public/assets/images/member-item-02.jpg" height="400px" alt="">
                                <div class="hover-effect">
                                    <div class="hover-content">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                            <li><a href="#"><i class="fa fa-rss"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            
                        </div></div><div class="owl-item" style="width: 330px; margin-right: 30px;"><div class="item author-item">
                            <div class="member-thumb">
                                <img src="http://nexageo.com/public/assets/images/member-item-03.jpg" height="400px" alt="">
                                <div class="hover-effect">
                                    <div class="hover-content">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                            <li><a href="#"><i class="fa fa-rss"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            
                        </div></div><div class="owl-item" style="width: 330px; margin-right: 30px;"><div class="item author-item">
                            <div class="member-thumb">
                                <img src="http://nexageo.com/public/assets/images/member-item-05.jpg" alt="">
                                <div class="hover-effect">
                                    <div class="hover-content">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                            <li><a href="#"><i class="fa fa-rss"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            
                        </div></div><div class="owl-item" style="width: 330px; margin-right: 30px;"><div class="item author-item">
                            <div class="member-thumb">
                                <img src="http://nexageo.com/public/assets/images/member-item-03.jpg" alt="">
                                <div class="hover-effect">
                                    <div class="hover-content">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                            <li><a href="#"><i class="fa fa-rss"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            
                        </div></div><div class="owl-item" style="width: 330px; margin-right: 30px;"><div class="item author-item">
                            <div class="member-thumb">
                                <img src="http://nexageo.com/public/assets/images/member-item-04.jpg" alt="">
                                <div class="hover-effect">
                                    <div class="hover-content">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                            <li><a href="#"><i class="fa fa-rss"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            
                        </div></div><div class="owl-item" style="width: 330px; margin-right: 30px;"><div class="item author-item">
                            <div class="member-thumb">
                                <img src="http://nexageo.com/public/assets/images/member-item-06.jpg" alt="">
                                <div class="hover-effect">
                                    <div class="hover-content">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                            <li><a href="#"><i class="fa fa-rss"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            
                        </div></div><div class="owl-item cloned" style="width: 330px; margin-right: 30px;"><div class="item author-item">
                            <div class="member-thumb">
                                <img src="http://nexageo.com/public/assets/images/member-item-01.jpg" height="400px" alt="">
                                <div class="hover-effect">
                                    <div class="hover-content">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                            <li><a href="#"><i class="fa fa-rss"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            
                        </div></div><div class="owl-item cloned" style="width: 330px; margin-right: 30px;"><div class="item author-item">
                            <div class="member-thumb">
                                <img src="http://nexageo.com/public/assets/images/member-item-02.jpg" height="400px" alt="">
                                <div class="hover-effect">
                                    <div class="hover-content">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                            <li><a href="#"><i class="fa fa-rss"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            
                        </div></div><div class="owl-item cloned" style="width: 330px; margin-right: 30px;"><div class="item author-item">
                            <div class="member-thumb">
                                <img src="http://nexageo.com/public/assets/images/member-item-03.jpg" height="400px" alt="">
                                <div class="hover-effect">
                                    <div class="hover-content">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                            <li><a href="#"><i class="fa fa-rss"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            
                        </div></div><div class="owl-item cloned" style="width: 330px; margin-right: 30px;"><div class="item author-item">
                            <div class="member-thumb">
                                <img src="http://nexageo.com/public/assets/images/member-item-05.jpg" alt="">
                                <div class="hover-effect">
                                    <div class="hover-content">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                            <li><a href="#"><i class="fa fa-rss"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            
                        </div></div></div></div><div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div><div class="owl-dots"><button role="button" class="owl-dot active"><span></span></button><button role="button" class="owl-dot"><span></span></button><button role="button" class="owl-dot"><span></span></button><button role="button" class="owl-dot"><span></span></button></div></div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Testimonials Ends ***** -->

    <!-- ***** Contact Us Area Starts ***** -->
    <section class="section" id="contact-us">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-xs-12">
                    <div class="left-text-content text-center">
                        <div class="section-heading">
                            <h6>Contact Us</h6>
                            <h2>Feel free to keep in touch with us!</h2>
                        </div>
                        <ul class="contact-info" style="
                            display: inline-block;
                            text-align: left;
                        ">
                            <li><img src="http://nexageo.com/public/assets/images/contact-info-01.png" alt="">+917982622067</li>
                            <li><img src="http://nexageo.com/public/assets/images/contact-info-02.png" alt="">info@questionquist.com</li>
                            <li><img src="http://nexageo.com/public/assets/images/contact-info-03.png" alt="">www.questionquist.com</li>
                        </ul>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!-- ***** Contact Us Area Ends ***** -->

    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-xs-12">
                    <div class="left-text-content">
                        <p>Copyright © <b>Question Quist</b> All Right Reserved

                            - Design: <a rel="nofollow noopener" href="https://templatemo.com">TemplateMo</a></p>
                    </div>
                </div>
                <div class="col-lg-6 col-xs-12">
                    <div class="right-text-content">
                        <ul class="social-icons">
                            <li>
                                <p>Follow Us</p>
                            </li>
                            <li><a rel="nofollow" href="#" target="blank"><i class="fa fa-facebook"></i></a></li>
                            <li><a rel="nofollow" href="#" target="blank"><i class="fa fa-twitter"></i></a></li>
                            <li><a rel="nofollow" href="#" target="blank"><i class="fa fa-linkedin"></i></a></li>
                            <li><a rel="nofollow" href="#" target="blank"><i class="fa fa-dribbble"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <!-- jQuery -->
    <script src="http://nexageo.com/public/assets/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="http://nexageo.com/public/assets/js/popper.js"></script>
    <script src="http://nexageo.com/public/assets/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="http://nexageo.com/public/assets/js/owl-carousel.js"></script>
    <script src="http://nexageo.com/public/assets/js/scrollreveal.min.js"></script>
    <script src="http://nexageo.com/public/assets/js/waypoints.min.js"></script>
    <script src="http://nexageo.com/public/assets/js/jquery.counterup.min.js"></script>
    <script src="http://nexageo.com/public/assets/js/imgfix.min.js"></script>
    <script src="http://nexageo.com/public/assets/js/slick.js"></script>
    <script src="http://nexageo.com/public/assets/js/lightbox.js"></script>
    <script src="http://nexageo.com/public/assets/js/isotope.js"></script>

    <!-- Global Init -->
    <script src="http://nexageo.com/public/assets/js/custom.js"></script>

    <script>
        $(function () {
            var selectedClass = "";
            $("p").click(function () {
                selectedClass = $(this).attr("data-rel");
                $("#portfolio").fadeTo(50, 0.1);
                $("#portfolio div").not("." + selectedClass).fadeOut();
                setTimeout(function () {
                    $("." + selectedClass).fadeIn();
                    $("#portfolio").fadeTo(50, 1);
                }, 500);

            });
        });

    </script>




<div id="lightboxOverlay" class="lightboxOverlay" style="display: none;"></div><div id="lightbox" class="lightbox" style="display: none;"><div class="lb-outerContainer"><div class="lb-container"><img class="lb-image" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="><div class="lb-nav"><a class="lb-prev" href=""></a><a class="lb-next" href=""></a></div><div class="lb-loader"><a class="lb-cancel"></a></div></div></div><div class="lb-dataContainer"><div class="lb-data"><div class="lb-details"><span class="lb-caption"></span><span class="lb-number"></span></div><div class="lb-closeContainer"><a class="lb-close"></a></div></div></div></div></body></html>



