{% extends '../base/base.html' %}
{% block title %} dashboard {% endblock title %}
   
    {% block main %}
    <div class="container">
<div class="table-responsive pt-5">
    <table class=" table  table-hover">
        <thead class="thead">
          <tr>
            
            <th scope="col">Project ID</th>
            <th scope="col">User ID</th>
            <th scope="col">status</th>
            <th scope="col">IP Address</th>
            <th scope="col">completion time Time</th>
            
          </tr>
        </thead>
        <tbody>
            
          <tr>
            <td> {{PID}}</td>
            <td> {{UID}}</td>
            <td>{{STATUS}}</td>
            <td>{{IP}}</td>
            <td>{{comt}}</td>
          </tr>
        </tbody>
      </table>
      
</div>
</div>

{% endblock main %}